@using PagedList
@using PagedList.Mvc

@model IPagedList<PeopleQuest.Models.PersonSummaryViewModel>

<!-- Partial view of people list -->
<div id="peopleList">
    <table class="table">
        <tr>
            <th>Image</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Interests</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <!-- Image with hyperlink to details -->
                <td>
                    <!-- If the user clicks the image, navigate to person details page. -->
                    <a href="@Url.Action("Details", "People", new { id = item.Id })">
                        <!-- Get the user image -->
                        <img class="img-rounded" height="100"
                             src="@Url.Action("GetPicture", "People", new {id = item.Id})"
                             alt="@item.FullName"
                             title="@item.FullName" />
                    </a>
                </td>
                <!-- FirstName -->
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <!-- LastName -->
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <!-- Age -->
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <!-- Address -->
                <td>
                    @Html.DisplayFor(modelItem => item.Address1) <br />
                    @Html.DisplayFor(modelItem => item.Address2)

                </td>
                <!-- Interests -->
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.Interests))
                    {
                        foreach (var interest in item.Interests.Split(','))
                        {
                            @interest<br/>
                        }
                    }
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "People", new {id = item.Id})" style="width: 65px">Edit</a><br/>
                    <a class="btn btn-sm btn-primary" href="@Url.Action("Delete", "People", new {id = item.Id})" style="width: 65px">Delete</a>
                </td>
            </tr>
        }

    </table>

    <!-- Pager control -->
    <div class="pagedList">
        <!-- Pass in the current search term so that it is saved during paging -->
        @Html.PagedListPager(Model, page => Url.Action("Index", new { currentFilter = ViewBag.CurrentFilter, page }))
    </div>
</div>